[package]
name = "oxidized-transformers"
description = "Transformers library (not functional yet)"
version = "0.1.0"
edition = "2021"
license = "MIT"
homepage = "https://github.com/danieldk/oxidized-transformers"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candle-core = "0.3"
candle-nn = "0.3"
thiserror = "1"
